html,
body {
  background: #f5f5f9;
}
.clears {
  clear: both;
}
.completeinfo {
  margin: 0.3rem 0.4rem;
  padding: 0.3rem;
  background: #fff;
  border-radius: 0.3rem;
  box-sizing: border-box;
}
.completeinfo .infobox {
  height: 0.72rem;
  border-bottom: 1px solid #f5f5f9;
}
.completeinfo .infobox h1 {
  font-size: 0.36rem;
  font-weight: bolder;
}
.completeinfo .infobox a {
  font-size: 0.28rem;
  color: #fc9447;
  float: right;
}
.completeinfo .infobox1 {
  height: 1.2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.completeinfo .infobox1 .inbox1_left {
  width: 3.5rem;
  height: 0.45rem;
  border-right: 1px solid #f5f5f9;
  margin-top: 0.4rem;
}
.completeinfo .infobox1 .inbox1_left p {
  font-size: 0.3rem;
  color: #7e6b5a;
}
.completeinfo .infobox1 .inbox1_right {
  height: 0.45rem;
  margin-top: 0.4rem;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  -webkit-flex: 1;
}
.completeinfo .infobox1 .inbox1_right p {
  font-size: 0.3rem;
  color: #1b1b1b;
  text-align: center;
}
.completeinfo .inputBox {
  margin-bottom: 0.6rem;
}
.completeinfo .inputBox label {
  color: #7e6b5a;
  font-size: 0.28rem;
}
.completeinfo .inputBox .inp {
  width: 2.7rem;
  height: 0.48rem;
  border: none;
  border-bottom: 1px solid #ecedf0;
  margin-right: 0.1rem;
  font-size: 0.3rem;
}
.completeinfo .inputBox .inp#idcard {
  width: 4.4rem;
}
.completeinfo .equities h1 {
  font-size: 0.28rem;
  color: #1b1b1b;
}
.completeinfo .equities ul {
  margin-top: 0.32rem;
}
.completeinfo .equities ul li {
  color: #7e6b5a;
  font-size: 0.24rem;
  float: left;
  line-height: 0.5rem;
  margin-left: 0.1rem;
}
.completeinfo .equities ul li span {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  background: #7e6b5a;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.1rem;
}
.completeinfo .footer {
  margin: 0.5rem 0;
}
.completeinfo .footer .paybox {
  font-size: 0.28rem;
  color: #1b1b1b;
  text-align: center;
  font-weight: bolder;
}
.completeinfo .footer .btnbox {
  width: 3.4rem;
  height: 0.82rem;
  background: #fb4e37;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.36rem;
  margin: 0.3rem auto 0.3rem;
}
.completeinfo .footer .txtbox {
  font-size: 0.24rem;
  color: #fc9447;
  text-align: center;
}
