html,
body {
  background: #f5f5f9;
}
.regissuccess {
  width: 100%;
}
.regissuccess .top {
  margin: 0.78rem 0;
}
.regissuccess .top h1 {
  text-align: center;
  font-size: 0.34rem;
  color: #1b1b1b;
}
.regissuccess .top h1 img {
  display: inline-block;
  width: 0.68rem;
  height: 0.68rem;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.2rem;
}
.regissuccess .top p {
  font-size: 0.28rem;
  color: #7e6b5a;
  text-align: center;
  margin-top: 0.5rem;
}
.regissuccess .infocard {
  margin: 0 0.3rem;
  padding: 0.4rem;
  background: #fff;
  border-radius: 0.2rem;
}
.regissuccess .infocard .tit {
  font-size: 0.3rem;
  color: #333;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #dbdcdc;
}
.regissuccess .infocard .infos {
  margin: 0.3rem 0;
}
.regissuccess .infocard .infos .info {
  margin-bottom: 0.4rem;
  font-size: 0.28rem;
  color: #7e6b5a;
}
.regissuccess .infocard .infos .info.notfill span {
  color: #a0a0a0;
}
.regissuccess .tips {
  width: 4.9rem;
  margin: 0.4rem auto;
  padding: 0.4rem 0;
  text-align: center;
  color: #7e6b5a;
  font-size: 0.3rem;
  border: 1px dashed #7e6b5a;
  border-radius: 0.3rem;
}
.regissuccess .tips span {
  color: #ffaf55;
}
.regissuccess .inviteBtn {
  width: 6.9rem;
  height: 0.9rem;
  background: #feb435;
  border-radius: 0.45rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
  font-size: 0.36rem;
  margin: 0.5rem auto;
}
.regissuccess .hideBox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.regissuccess .hideBox .fingerbox {
  width: 1.6rem;
  height: 1.1rem;
  position: absolute;
  right: 0;
  top: -0.2rem;
}
.regissuccess .hideBox .fingerbox img {
  width: 100%;
}
.regissuccess .hideBox .invitebox {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
  background: #fff;
  height: 3.05rem;
}
.regissuccess .hideBox .invitebox .close {
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  top: 0.23rem;
  right: 0.25rem;
}
.regissuccess .hideBox .invitebox .close img {
  width: 100%;
}
.regissuccess .hideBox .invitebox h1 {
  font-size: 0.36rem;
  color: #7e6b5a;
  text-align: center;
  margin-top: 1rem;
}
.regissuccess .hideBox .invitebox h1 img {
  width: 0.46rem;
  height: 0.1rem;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: middle;
  margin-top: -3px;
}
.regissuccess .hideBox .invitebox p {
  text-align: center;
  font-size: 0.28rem;
  color: #f39700;
  margin-top: 0.5rem;
}
